.Chat-Page {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  height: 80vh;
}

.chats-container {
  flex: 1;
  border: 2px solid yellow;
  background-color: aqua;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 10px;
  border: 1px solid #B0BEA9;
  background: #F1F7EE;
  align-items: center;
  justify-content: center;
  padding: 30px;
}  

.chats-container-title {
  height:fit-content;
  width: 100%;
  min-width: 180px;
  height: max(7vh, 35px);
  color: #B0BEA9; 
  font-size:max(20px, 4.5vh);
  font-weight: bold;
  margin: 1vh 0 3vh 0;
  text-align: center;  
}

.conversation-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  border: 2px solid yellow;
  background-color: aqua;
  margin-top: 50px;
  border-radius: 10px;
  background-color: rgb(126, 186, 199, 0.1);
  border: 1px solid rgb(126, 186, 199, 0.5);
  padding: 30px;
}  

.conversation-content {
  height: 95%;
  width: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  padding: 20px;
}

.input-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
	height: 5vh;
}

.input-message {
  position: relative;
  text-align:left;
	padding: 10px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 10px;
  height: 4vh;
  width: 100%;
	min-height: 30px;
  min-width: 50px;
  margin-right: 1vw;
  padding-left: max(10px, 2vw);
  color: rgba(167,167,167,1);
}

.input-message:focus {
  outline: none !important;
	box-shadow: 0 0 0 0.3vh rgba(82, 151, 166, 0.2); 
	transition: 0.3s;
}

.input-message::placeholder {
  color: rgba(167,167,167,1);
}

.input-send {
  min-height: 20px;
  min-width: 20px;
  background: url('../images/send-paper-plane.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: max(10px, 1vw);
  margin-left: 1vw;
}

.input-send:hover {
  cursor: grab;
}
