.Message-right {
  border-radius: 10px;
  background: rgba(146,170,131,0.24);
  padding: 0.5vh min(15px, 1vw) 0.5vh min(15px, 2vw);
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-end;
  max-width: 500px;
  overflow-wrap: break-word;
}

.Message-left {
  border-radius: 10px;
  background: rgb(229,229,229);
  padding: 0.5vh min(15px, 1vw) 0.5vh min(15px, 2vw);
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-start;
  max-width: 500px;
  overflow-wrap: break-word;
}

.Message > .text-right {
  text-align: right;
  color: black;
  font-size: 14px;
}

.Message > .text-left {
  text-align: left;
  color: black;
  font-size: 14px;
}

.Image-right {
  border-radius: 10px;
  background: rgba(146,170,131,0.24);
  padding: 0.5vh min(15px, 1vw) 0.5vh min(15px, 2vw);
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.Image-left {
  border-radius: 10px;
  background: rgb(229,229,229);
  padding: 0.5vh min(15px, 1vw) 0.5vh min(15px, 2vw);
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-start;
  max-width: 100px;
}

.Video-right {
  border-radius: 10px;
  background: rgba(146,170,131,0.24);
  padding: 0.5vh min(15px, 1vw) 0.5vh min(15px, 2vw);
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-end;
  max-width: 500px;
}

.Video-left {
  border-radius: 10px;
  background: rgb(229,229,229);
  padding: 0.5vh min(15px, 1vw) 0.5vh min(15px, 2vw);
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-start;
  max-width: 500px;
}

.Audio-right {
  border-radius: 10px;
  background: rgba(146,170,131,0.24);
  padding: 0.5vh min(15px, 1vw) 0.5vh min(15px, 2vw);
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-end;
  max-width: 500px;
}

.Audio-left {
  border-radius: 10px;
  background: rgb(229,229,229);
  padding: 0.5vh min(15px, 1vw) 0.5vh min(15px, 2vw);
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-start;
  max-width: 500px;
}
