.BackpackNavbar {
    margin-left: 40px;
    margin-top: 40px;
}

.backpackIcon {
    background-image: url('../images/backpack.png');
    min-width: 70px;
    min-height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
}
