.CreateClass {
  width: 100%;
  height: auto;
  position: absolute;
  top: 15%;
  text-align: center;
  margin-top: 50px;
}

.add-class-title {
  font-family: 'Lato', sans-serif;
  color: #7EBAC7; 
  font-size: 82px;
  font-weight: bold;
  /* margin-top:10px;
  margin-bottom: 10px; */
  text-align: center;
}

.left-align-course {
  position: relative;
  left: -430px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
  color: #898888;
}

.left-rectangle {
  display: flex;
  align-items: left;
  padding-left: 10px;
  margin: 0 auto;
  width: 500px;
  height: 50px;;
  font-size: 100%;
  overflow: hidden;
  position: relative;
  background-color: #E0EDC5;
  border: 1px solid #92AA83;
  border-radius: 10px;
}

.text-area {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 7vh;
  min-width: 400px;
  min-height: 30px;
  font-size: 100%;
}
  
.center-rectangle2 {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin: 0 auto;
  width: 900px;
  height: 50px;;
  font-size: 100%;
  overflow: hidden;
  position: relative;
  background-color: #F1F7EE;
  border: 1px solid #B0BEA9;
  border-radius: 10px;
}

.button_3 {
  background-color: rgb(126, 186, 199, .24);
  width: 920px;
  height: 60px;
  border: 1px solid #3A405A;
  color: #3A405A;
  padding: 10px;
  text-align: center;
  text-decoration: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border-radius: 10px;
}

.button_3:hover {
  cursor: grab;
}